{"is_source_file": true, "file_id": 45, "git_revision": "d1e36568fc828d61f29ebe58995c7a10be68814c", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "filename": "/home/kavia/workspace/code-maintenance-job-45bd411c/EKYC-2.0/requirements.txt", "hash": "5c477bc411726af145663d36e0829446", "format-version": 4, "code-base-name": "EKYC-2.0", "knowledge_revision": 79}